<h1>Login</h1>

<p>{{ message }}</p>

<form method="POST" action="/login" ng-submit="doLogin($event)">
    <input type="text" placeholder="Your login" ng-model="login">
    <input type="password" placeholder="Your login" ng-model="password">
    <button type="submit">Login</button>
</form>
<a href="#/">Back</a>
