<h1>Register</h1>
<form method="POST" action="/register" ng-submit="doRegister($event)">
    <input type="text" placeholder="Your login" ng-model="login">
    <input type="password" placeholder="Your login" ng-model="password">
    <button type="submit">Register</button>
</form>
<a href="#/">Back</a>
